* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0d1a2d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  width: 300px;
  background-color: #15273f;
  padding: 1em;
  margin: auto;
  border-radius: 10px;
}
.card > * {
  margin-block: 0.5em;
}
img {
  width: 100%;
  border-radius: 5px;
}
.img {
  position: relative;

  margin: auto;
}
a.heading {
  display: block;
  font-size: large;
  color: #f7ffff;
}
p,
footer {
  color: #627a99;
  font-size: 0.9rem;
}
.cost {
  color: #00f8f2;
}
.time {
  color: #88a4ce;
}
.author {
  color: #bcc8da;
  margin-left: 5px;
}
.icons {
  width: 10px;
  margin-right: 5px;
}
.clock {
  width: 20px;
}
div.cost {
  display: flex;
  justify-content: space-between;
}
.avatar {
  width: 25px;
  border: thin solid white;
  border-radius: 50%;
  margin-right: 10px;
}
footer,
.cost,
.time {
  display: flex;
  align-items: center;
}
.author:hover,
a:hover {
  color: #00f8f2;
  cursor: pointer;
}
a {
  font-weight: bolder;
  text-decoration: none;
}
.eye {
  width: 25px;
}
.cover {
  position: absolute;
  width: 100%;
  background-color: #00a0b8;
  top: 0;
  bottom: 0;
  left: -100%;
  transition: all 0.2s ease-in;
  display: grid;
  place-items: center;
  opacity: 0.8;
  cursor: pointer;
}
.img:hover .cover {
  left: 0;
}
.img {
  overflow: hidden;
}
